.formContainer {
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  h3 {
    color: var(--text-color);
    font-weight: 600;
  }
  span {
    color: var(--text-color);
    font-weight: 400;
  }
  form {
    input {
      border-radius: 5px;
      outline: none;
      border: none;
      border-bottom: 1px solid gray;
    }
  }
}
