.messageInput {
  background-color: white;
  form {
    div {
      margin: 0 !important;
      input {
        border: none;
        outline: none;
      }
    }
    button {
      background-color: var(--bg-color-02);
      color: #fff;
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 10px;
    }
  }
}
